.sign__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  transition: opacity .7s ease;
  color: #fff;
  cursor: pointer;
}

.sign__link:hover {
  opacity: .6;
}