.profile__container {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 820px) {
  .profile__container {
    justify-content: center;
  }
}

@media screen and (max-width: 618px) {
  .profile__container {
    flex-direction: column;
  }
}