.cards__delete-button {
  background-image: url("../../../images/delete-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
}